form {
    margin: 0;
    padding: 0;
}

.input-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.input-container textarea {
    flex: 1;
    margin: 0;
    field-sizing: content;
}

.input-container button {
    width: auto;
    margin: 0;
    white-space: nowrap;
}

.input-container input {
    width: 20%;
}