dialog article {
    header, header>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>div {
        cursor: pointer;
    }

    footer {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: end;
    }
}